<footer class="pre-footer">
			<ul>
				<a href=""><li>A propos</li></a>
				<a href="/connexion"><li>Se connecter</li></a>
				<a href="/inscription"><li>Créer un compte</li></a>
			</ul>
		</footer>
	</body>
</html>