$bgColorPrehome: #000;
$colorLink1: #5f5f63;
$colorLinkInHover: #fff;
$bgColorFooter: #343435;
$colorGlobal: #72BAED;
$colorBorderInput: #343435;
$colorError: #d22f2f;

@import url('https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300');
@import url('https://fonts.googleapis.com/css?family=Work+Sans:300,400,500,600,700,800,900');
@import url('../font_2/css/font-awesome.css');
